@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Roboto', sans-serif;
}


.auth__body {
  padding-bottom: 2rem;
  padding-top: 200px;
}
.auth__form {
  min-width: 280px;
  max-width: 340px;
  margin: auto;
  margin-top: -40px;
  padding: 0 10px;
  position: relative;
  z-index: 9;
}
.auth__form_body {
  padding: 0.7rem 1.5rem 35px;
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.auth__form_title {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.auth__form_actions {
  text-align: center;
  padding: 0 2rem;
  margin-top: -25px;
}
.auth__form_actions .btn {
  border-radius: 30px;
  box-shadow: 0 2px 12px rgba(50, 128, 228, 0.5);
}

.closeModal {
  cursor: pointer;
}
.createBtn {
  all: unset;
  outline:none;
}

.hide {
  opacity: 0;
}

.mt-10 {
  margin-top: 100px !important;
}

 /* button search event */
.search_event {
  width: 100%;
  padding-left: 2rem;
  border-radius: 20px;
}

.form-control-feedback {
  position: absolute;
  width: 2.375rem;
  text-align: center;
  color: rgb(56, 55, 55);
  margin-top: 8px;
}


 /* hide icon delete on event view */
.deleteEvent{
  display: none;
  cursor: pointer;
}

/* background hover on event view */
tbody>tr:hover, tbody>tr:active{background-color: rgb(214, 205, 205);}

/* Display icon delete on event view */
.info:hover .deleteEvent {
 display:block;  
 font-size: 130%; 
}
